<div id="leftRightPieCharts">
    <div>
        <h3>Desired Magic Skills</h3>
        <div style="display: block">
            <canvas baseChart [data]="pieChartDataDesired" [labels]="pieChartLabelsDesired"
                [chartType]="pieChartTypeDesired"></canvas>
        </div>
    </div>
    <div>
        <h3>Current Magic Skills</h3>
        <div style="display: block">
            <canvas baseChart [data]="pieChartDataCurrent" [labels]="pieChartLabelsCurrent"
                [chartType]="pieChartTypeCurrent"></canvas>
        </div>
    </div>
</div>


<nav routerLink="">
    <button>Return</button>
</nav>